:root{
    --text-color: #363940;
    --primary-color: #38AEF7;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

/*Header*/

header{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
    border-bottom: 0.5px solid #E7E3F9;
}

header h1 {
    font-weight: 700;
    font-size: 18px;
}

header nav a {
    padding: 5px;
    font-weight: 700;
    font-size: 12px;
    color: var(--text-color);
    text-decoration: none; 
}

/*home*/

#home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#home #welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    max-width: 130px;
    background-color: #E7F6FF;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
}