:root{
    --gray-color-1: #363940;
    --primary-color: #38AEF7;
    --primary-color-light: #68C5FF;
    --text-color: #6C7890;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

button {
    cursor: pointer;
}

a{
    text-decoration: none;
}

/*general*/

body{
    background-color: #ffffff;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

/*Header*/

header{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    padding: 24px;
    border-bottom: 0.5px solid #E7E3F9;
}

header h1 {
    font-weight: 900;
    font-size: 24px;
    color: var(--gray-color-1)
}

header nav ul{
    display: flex;
    list-style-type: none;
}

header nav ul li a {
    padding: 12px;
    font-weight: 700;
    font-size: 12px;
    color: var(--gray-color-1); 
}

/*home*/

#home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#home #texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 70px;
}

#home #welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
    padding: 7px;
    max-width: 130px;
    background-color: #E7F6FF;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
}

#home h2 {
    font-size: 62px;
    font-weight: 700;
    margin: 12px;
    color: var(--gray-color-1);
}

#home picture img{
    max-width: 50vw;
    padding: 20px;
}

#home button {
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin: 12px;
}


#home #role {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    color: var(--primary-color-light);
    margin: 12px;
    margin-top: 60px;
}

#home span {
    padding: 6px;
}

/*modules*/

#module-group h2 {
    display: flex;
    justify-content: center;
    color: var(--gray-color-1);
    font-size: 36px;
    font-weight: 700;
    padding: 8px;
}

#module-group > p {
    display: flex;
    justify-content: center;
    padding: 8px;
}

#modules {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#modules div{
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(25%);
    padding: 20px;
}

#modules div li{
    font-weight: 700;
    font-size: 20px;
    color: var(--gray-color-1);
    line-height: 0.6rem;
    padding: 10px;
}

#modules div li::before{
    content: "•";
    font-size: 100px;
    color: var(--primary-color-light);
    margin-right: 10px;
    vertical-align: text-top;
}

#modules div p{
    padding: 5px;
    padding-left: 65px;
    
}

